<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AP_DataEntry.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AP_DataEntry.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AP_DataEntry.My.MySettings.DB_TimeManagementConnectionString"
            connectionString="Data Source=AJAY;Initial Catalog=DB_TimeManagement;Persist Security Info=True;User ID=sa;Password=Comp1234$$"
            providerName="System.Data.SqlClient" />
        <add name="AP_DataEntry.My.MySettings.NewDataSet" connectionString="Data Source=USHA-01\SQLEXPRESS;Initial Catalog=Usha_DB_0418;User ID=sa;Password=Comp1234$$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AP_DataEntry.My.MySettings>
            <setting name="ShowLoginTimeDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaterialGridFirstColumnWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="GhatGridFirstColumnWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ReadyGridFirstColumnWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DefaultExportPath" serializeAs="String">
                <value />
            </setting>
        </AP_DataEntry.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <AP_DataEntry.My.MySettings>
            <setting name="AP_DataEntry_SPListWS_Lists" serializeAs="String">
                <value>http://computact.biz/_vti_bin/Lists.asmx</value>
            </setting>
        </AP_DataEntry.My.MySettings>
    </applicationSettings>
</configuration>
