@*@model IEnumerable<OptimizerBeta3.Models.GeneralTables.TempInvoiceDtl>
@using OptimizerBeta3.Models.GeneralTables
@{
    ViewData["Title"] = "LoadFromNotepad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h1>InvoiceDetailScannedCodes</h1>

<h6>Total Scanned Barcodes Count</h6>
<br />
