@model int
<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-warning form-control" id="cancel" disabled="disabled" asp-route-id="@Model" value="cancel" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>