@model int
<div class="row">
    <div class="col-6">
        <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model"><i class="fas fa-list-alt"></i> &nbsp; Edit</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>